.image-footer {
  width: 100%;
  height: 400px;
}

.image-footer img{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    object-fit: cover;
}

.footer-container {
  display: flex;
  flex-direction: row;
  padding: 24px;
  background-color: #1B1B1B;
}

.footer-container h1, .footer-container p {
  color: #E6DED1;
  font-family: 'Forum', sarif;
}

.footer-container > h1 {
  width: 60%;
  margin-left: -24px;
}

.footerContacts {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.footerContacts > h1 {
  width: 100%;
  font-size: 26px;
  text-align: left;
  margin-bottom: 26px;
}

.darker {
  color: #9faca5ce !important;
}

.view-map {
  margin: 24px 0;
}

.contacts {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.contacts > div {
  flex-grow: 1;
}

@media (max-width: 750px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-container > h1 {
    width: 100%;
    height: fit-content;
    margin: 0;
  }

  .footerContacts {
    width: 100%;
  }

  .contacts {
    width: 100%;
  }
}

.footer2-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #243D30;
  height: fit-content;
  padding: 0 10%;
  padding-bottom: 24px;
}

.footer2-container a {
  transition: all .2s ease-in;
}

.footer2-container a:hover {
  color: white;
}

.footerPage, .footerDirectory {
  height: fit-content;
  width: fit-content;
  /* margin: 48px; */
}

.footerDirectory {
  flex-grow: 1;
  width: 20%;
  min-width: 300px;
}

.footerPage > ul > li, .footerDirectory > ul > li, .footerSubDirectory {
  margin-bottom: 8px;
}

.footerDirectory h3 {
  color: #9FACA5;
  font-size: 24px;
  margin-bottom: 0;
  font-family: "VelaSans", serif;
}

.footerDirectory > ul {
  margin-top: 18px;
}

.footerSubDirectory p {
  color: #E6DED1;
  font-family: "VelaSans", serif;
}

.footerSubDirectory > ul {
  padding-left: 12px;
}

.footerSubDirectory > ul > li {
  list-style: none;
}

.footerSubDirectory > ul > li > a {
  color: #e6ded1b0;
  text-decoration: none;
  font-family: "VelaSans", serif;
}

.footerPage, .footerPageList > li > a {
  color: #E6DED1;
  text-decoration: none;
  font-family: "VelaSans", serif;
}

.footerPageList {
  padding: 0;
}

.footerPageList > li {
  list-style: none;
}