.image-footer {
  width: 100%;
  height: 400px;
}

.image-footer img{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    object-fit: cover;

}

@media (max-width: 768px) {
  .image-footer img{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    object-fit: cover;
    object-position: unset;
}
}

.footer-container {
  display: flex;
  flex-direction: row;
  padding: 72px 24px;
  background-color: #1B1B1B;
  overflow: hidden;
  position: relative;
}

.footer-container h1, .footer-container p {
  color: #E6DED1;
  font-family: 'Forum', sarif;
}

.footer-container > h1 {
  width: 60%;
  margin-left: -24px;
}

.footerContacts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footerContacts > h1 {
  width: 100%;
  font-size: 26px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 26px;
}

.darker {
  color: #9faca5ce !important;
}

.view-map {
  margin: 24px 0;
}

.contacts {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.contacts > div {
  flex-grow: 1;
}

@media (min-width: 1400px) {
  .footer-container {
    justify-content: center;
  }

  .footer-container > h1 {
    width: fit-content;
    margin-right: 72px;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
  }

  .contacts {
    width: fit-content;
  }

  .footerContacts {
    width: fit-content;
    flex-grow: unset;
  }

  .footerContacts > h1 {
    width: fit-content;
  }

  .contacts > div {
    flex-grow: unset;
    width: fit-content;
  }

  .contacts > div:first-child {
    margin-right: 48px;
  }
}

@media (max-width: 750px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-container > h1 {
    width: 100%;
    height: fit-content;
    margin: 0;
  }

  .footerContacts {
    width: 100%;
  }

  .footerContacts > h1 {
    margin-top: 48px;
    text-align: center;
  }

  .contacts {
    width: 100%;
    justify-content: space-evenly;
  }

  .contacts > div {
    flex-grow: unset;
    width: fit-content;
  }
}

@media (max-width: 400px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
  }

  .contacts > div:first-child {
    margin-bottom: 48px;
  }
}

.footer2-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #243D30;
  height: fit-content;
  padding: 0 10%;
  padding-bottom: 24px;
  overflow: hidden;
  overflow-x: hidden;
}

.footer2-container a {
  transition: all .2s ease-in;
}

.footer2-container a:hover {
  color: white;
}

.footerPage, .footerDirectory {
  height: fit-content;
  width: fit-content;
  /* margin: 48px; */
}

.footerDirectory {
  flex-grow: 1;
  width: 20%;
  min-width: 300px;
}

.footerPage > ul > li, .footerDirectory > ul > li, .footerSubDirectory {
  margin-bottom: 8px;
}

.footerDirectory h3 {
  color: #9FACA5;
  font-size: 24px;
  margin-bottom: 0;
  font-family: "VelaSans", serif;
}

.footerDirectory > ul {
  margin-top: 18px;
}

.footerSubDirectory p {
  color: #E6DED1;
  font-family: "VelaSans", serif;
}

.footerSubDirectory > ul {
  padding-left: 12px;
}

.footerSubDirectory > ul > li {
  list-style: none;
}

.footerSubDirectory > ul > li > a {
  color: #e6ded1b0;
  text-decoration: none;
  font-family: "VelaSans", serif;
}

.footerPage, .footerPageList > li > a {
  color: #E6DED1;
  text-decoration: none;
  font-family: "VelaSans", serif;
}

.footerPageList {
  padding: 0;
}

.footerPageList > li {
  list-style: none;
}

#footerSvg {
  position: absolute;
  bottom: 0;
  height: auto;
  max-width: 100%;
  max-height: 60%;
  transform: translateX(-24px);
  stroke: #ccb7a556;
}

@media screen and (min-width: 1400px) {
  #footerSvg {
    transform: translateX(calc(-50vw + 50%));
  }
}

#footerEmail {
  margin-top: 31px;
}