@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Source Serif Pro;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Source Serif Pro;
  margin-bottom: 50px;
  font-size: 2.5em;
  text-align: center;
  color: #29160f;
}

#pageTitle {
  font-family: Source Serif Pro;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: left;
  font-size: 2em;
  text-align: center;
  color: #29160f;
}

#pageText {
  margin: 12px 10%;
  width: 80vw;
  text-align: center;
  font-style: italic;
}

#pageOneImg {
  margin: 18px 0;
  margin-left: 10%;
  width: 80%;
  border-radius: 10px;
}

.pageTwoImg {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin: 0 10%;
}

#pageTwoImgFirst {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 38vw;
  width: 38vw;
  border-radius: 10px;
}

#pageTwoImgSecond {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 38vw;
  margin-left: 2.5vw;
  width: 38vw;
  border-radius: 10px;
}

.pageFourImg {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin: 0 10%;
  border-radius: 10px;
}

#pageFourImgFirst {
  margin-top: 2vh;
  margin-bottom: 6px;
  width: 38vw;
  width: 38vw;
  border-radius: 10px;
}

#pageFourImgSecond {
  margin-top: 2vh;
  margin-bottom: 6px;
  width: 38vw;
  margin-left: 2.5vw;
  width: 38vw;
  border-radius: 10px;
}

#pageFourImgThird {
  margin-top: 6px;
  margin-bottom: 2vh;
  width: 38vw;
  width: 38vw;
  border-radius: 10px;
}

#pageFourImgFourth {
  margin-top: 6px;
  margin-bottom: 2vh;
  width: 38vw;
  margin-left: 2.5vw;
  width: 38vw;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  #pageTwoImgFirst, #pageTwoImgSecond, #pageFourImgFirst, #pageFourImgSecond, #pageFourImgThird, #pageFourImgFourth {
    width: 100%;
    margin: 12px 0;
  }
}

#pageVideo {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 80%;
  margin: 12px 10%;
  height: auto;
  border-radius: 10px;
}

#pageYouTube {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 80%;
  height: calc(80vw * 0.5625);
  margin: 12px 10%;
  border-radius: 10px;
  border: none;
}

#pageImageText {
  position: relative;
  width: 80%;
  margin-left: 10%;
}

#pageImageText img {
  width: 100%;
}

#pageImageText p {
  font-family: 'Source Serif Pro';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  word-wrap: break-word;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

#pageLine {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 80vw;
  height: 0.3vh;
  background-color: #29160f;
  margin-left: 10vw;
}

.pageFormated {
  margin: 0 10%;
  width: 80%;
}

.pageHtml {
  margin-left: 10vw;
  width: 80vw;
}

@media screen and (min-width: 750px) {
  #pageTextImageLeft {
    margin: 12px 0;
    overflow: hidden;
  }
  
  #pageTextImageLeft .imageContainer {
    float: left;
    margin: 0 10px 0px 0;
    width: 45%;
  }
  
  #pageTextImageLeft .imageContainer img {
    width: 100%;
    margin: 0;
  }
  
  #pageTextImageRight {
    margin: 12px 0;
    overflow: hidden;
  }
  
  #pageTextImageRight .imageContainer {
    float: right;
    margin: 10px 0 0 0;
    width: 45%;
  }
  
  #pageTextImageRight .imageContainer img {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 750px) {
  #pageTextImageLeft, #pageTextImageRight {
    margin: 12px 0;
  }
  
  #pageTextImageLeft img, #pageTextImageRight img {
    width: 100%;
  }
}

#pageTextImageBehind {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

#pageTextImageBehind img {
  width: 100%;
}

#pageTextImageBehind .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  word-wrap: break-word;
}