@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: 'VinnytsiaSerif';
  src: url('./font/vinnytsiaserif.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'VinnytsiaSerif', serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Source Serif Pro;
  margin-bottom: 1.5vw;
  font-size: 3em;
  text-align: center;
  color: #29160f;
}

#pageTitle {
  font-family: Source Serif Pro;
  padding-top: 4vw;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 3vw;
  text-align: left;
  font-size: 4em;
  text-align: center;
  color: #29160f;
}

#pageText {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  font-size: 1em;
  text-align: center;
  font-style: italic;
  margin-top: 0;
}

#pageOneImg {
  margin-top: 2vw;
  margin-left: 15vw;
  margin-right: 15vw;
  width: 70vw;
  border-radius: 10px;
}

.pageTwoImg {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin: 0 10%;
}

#pageTwoImgFirst {
  margin-top: 2vw;
  margin-bottom: 2vh;
  width: 34vw;
  border-radius: 10px;
  margin-left: 5vw;
}

#pageTwoImgSecond {
  margin-left: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vh;
  width: 34vw;
  border-radius: 10px;

}

.pageFourImg {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin: 0 10%;
  border-radius: 10px;
}

#pageFourImgFirst {
  margin-left: 5vw;
  margin-top: 2vw;
  width: 34vw;
  border-radius: 10px;
}

#pageFourImgSecond {
  margin-top: 2vw;
  width: 34vw;
  margin-left: 2vw;
  border-radius: 10px;
  height: auto;
  max-height: calc(32vw * 3/4);
  object-fit: contain;

}

#pageFourImgThird {
  margin-bottom: 2vw;
  margin-left: 5vw;
  margin-top: 0vw;
  width: 34vw;
  border-radius: 10px;
  margin-top: 1vw;
}

#pageFourImgFourth {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 34vw;
  margin-left: 2vw;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  #pageTwoImgFirst, #pageTwoImgSecond, #pageFourImgFirst, #pageFourImgSecond, #pageFourImgThird, #pageFourImgFourth {
    width: 100%;
    margin: 12px 0;
  }
}

#pageVideo {
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  height: auto;
  border-radius: 10px;
  margin-bottom: 2vw;
}

#pageYouTube {
  margin-left: 15vw;
  margin-top: 2vw;
  width: 70vw;
  height: calc(80vw * 0.5625);
  border-radius: 10px;
  border: none;
}

#pageImageText {
  position: relative;
  width: 70vw;
  margin-left: 15vw;
}

#pageImageText img {
  width: 100%;
}

#pageImageText p {
  font-family: 'Source Serif Pro';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  word-wrap: break-word;
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
  padding: 10px;
}

#pageLine {
  margin-top: 1vw;
  width: 70vw;
  height: 0.3vh;
  background-color: #29160f;
  margin-left: auto;
  margin-right: auto;
}

.pageFormated {
  margin-left: 15vw;
  margin-right: 15vw;
  width: 70vw;
}

.pageHtml {
  padding-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

@media screen and (min-width: 750px) {
  #pageTextImageLeft {
    margin-left: 15vw;
    overflow: hidden;
    margin-top: 2vw;
  }
  
  #pageTextImageLeft .imageContainer {
    float: left;
    margin-top: 2vw;
    width: 35vw;

  }

  #pageTextImageLeft  span{
    float: left;
    margin-top: 5vw;
    width: 33vw;
    margin-left: 2vw;
    color: blue;

  }
  
  #pageTextImageLeft .imageContainer img {
    width: 100%;
    margin: 0;
  }
  
  #pageTextImageRight {
    margin-right: 15vw;
    overflow: hidden;
  }
  
  #pageTextImageRight .imageContainer {
    float: right;
    width: 35vw;
  }
  
  #pageTextImageRight .imageContainer img {
    width: 100%;
    margin: 0;
    height: auto;
    max-height: calc(34vw * 3 / 4);
    object-fit: contain;
    margin-bottom: 3vw;
  }

  #pageTextImageRight  span{
    float: right;
    margin-top: 5vw;
    width: 33vw;
    margin-right: 2vw;
    color: blue;

  }
}

@media screen and (max-width: 750px) {
  #pageTextImageLeft, #pageTextImageRight {
    margin: 12px 0;
  }
  
  #pageTextImageLeft img, #pageTextImageRight img {
    width: 100%;
    
  }
}

#pageTextImageBehind {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

#pageTextImageBehind img {
  width: 100%;
}

#pageTextImageBehind .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  word-wrap: break-word;
}

#pageStarting {
  position: relative;
  width: 100%;
  height: 900px;
}

#pageStartingBackImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  object-fit: cover;
  z-index: -1;
}

#pageStartingContent {
  position: relative;
  margin-top: -40px;
  z-index: 1;
}

#pageStarting h2 {
  position: relative;
  font-size: 48px;
  color: #E4D9C7;
  text-align: left;
  margin-left: 10%;
  padding-top: 62px;
  transform: translateY(300px);
}

#pageStartingQuote {
  position: relative;
  display: flex;
  justify-content: space-between;
  transform: translateY(300px);
}

#pageStartingQuote p {
  flex: 1;
  text-align: left;
  margin-left: 10%;
  margin-top: 48px;
  font-size: 24px;
  color: #E4D9C7;
}

#pageStartingFrontImg {
  width: 50%;
  max-width: 600px;
  max-height: 400px;
  object-fit: cover;
}

#pagePerson {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}

.pagePersonImages {
  position: relative;
  width: 70%;
  margin-bottom: 5%;
}

.pagePersonImages img:first-of-type {
  width: 80%;
  /* max-height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pagePersonImages img:last-of-type {
  width: 30%;
  position: relative;
  right: 0;
  z-index: 2;
  margin: auto;
  margin-right: 0;
  margin-top: 60px;
  display: block;
}

.pagePersonText {
  width: 30%;
  z-index: 3;
  position: relative;
}

.pagePersonText p {
  margin: 10px 0;
}

.pagePersonText .bg {
  font-size: 18px;
  line-height: 1.5;
}

.pagePersonText .en {
  font-size: 16px;
  color: #666;
}

.pagePersonText button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  #pagePerson {
    flex-direction: column;
  }

  .pagePersonImages {
    width: 100%;
  }

  .pagePersonImages img:first-of-type {
    width: 100%;
  }

  .pagePersonImages img:last-of-type {
    width: 40%;
    margin-top: 25%;
    margin-right: -24px;
  }
  
  .pagePersonText {
    width: 90%;
  }
}

.donation {
  background-color: #2e1a11;
  color: #e2d9c6;
  width: 300px;
  border-radius: 26px;
  padding: 12px;
  margin: 24px;
  margin-left: 10%;
}

.donation h2 {
  font-size: 24px;
  margin: 0;
  padding: 10px;
}

.donation h3 {
  font-size: 16px;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
}

.donation h4 {
  font-size: 16px;
  margin: 0;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 24px;
  color: #876254;
}

.donationSeperation {
  height: 1px;
  width: 80%;
  margin: 12px auto;
  background-color: #876254;
}

.donation a {
  background-color: #876254;
  text-decoration: none;
  color: #e2d9c6;
  padding: 10px 12px;
  width: fit-content;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.donation a:hover {
  background-color: #e2d9c6;
  color: #876254;
}

#overlay {
  width: 100%;
  margin: 72px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#overlayTextContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

#overlayImage {
  width: 70%;
  min-height: 39vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#overlayFrontImages {
  height: 0;
}

@media (max-width: 1000px) {
  #overlayImage {
    width: 95%;
  }

  #overlayFrontImages {
    display: none;
  }
}

#overlayText {
  font-size: 2vw;
  max-width: 50%;
  align-content: center;
  text-align: center;
}

@media (max-width: 1000px) {
  #overlayText {
    font-size: 3.5vw;
    max-width: 80%;
  }
}

#overlayImageLeft {
  width: 20vw;
  left: 10vw;
  top: -42vw;
  position: relative;
}

#overlayImageRight {
  position: relative;
  left: 48vw;
  top: -20vw;
  width: 26vw;
}

/* Slideshow styles */
.slideshow {
  position: relative;
  width: 80%;
  height: 600px;
  margin: 0 auto;
  object-fit: cover;
}

.slide {
  display: none;
  text-align: center;
  object-fit: cover;
}

.slide img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  transform: translateY(-50%);
}

.prev { left: 0; }
.next { right: 0; }

#sections {
  width: 15vw;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-top: 0;
  z-index: 10000;
  background-color: rgba(242, 241, 235, 0.4);
  filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
  transition: all 0.3s ease;
  border-radius: 20px;
}

#sections:hover{
  transform: scale(1.1) translateX(-1vw) translateY(-1.2vw);
}

#sections div {
  cursor: pointer;
  font-size: 24px;
  margin: 18px;
  text-align: right;
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.8);
  
}

#menuLogo {
  /* max-height: 24px; */
  height: 70px;
  /* transform: scale(1.6); */
  margin-right: 0px;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .menu-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 550px) {
}

.menuLogoButton {
  height: 70px;
}

.menuItemsContainer, .menuItemsContainer > button {
  font-family: "Forum", serif;
  letter-spacing: 2px;
  color: white;
}

.menuItemsContainer > button, .menuItemsContainer > .directory-menu {
  text-shadow: 0px 2px 6px rgba(0, 0, 0, .8);
}

.menuItemsContainer button:hover {
  color: inherit;
}

.menuItemsContainer button{
  margin-right: 30px;
  font-size: 22px;
}

.directory-name{
  margin-right: 30px;
}

.menuEndContainer{
  margin-left: -30px;
  margin-right: 30px;
  color: white;
}

.menuEndContainer button {
  font-family: "Forum", serif;
  letter-spacing: 2px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, .8);
}

.menuItemsContainer > button, .menuEndContainer > button {
  position: relative;
}

.menuItemsContainer > button::after, .menuEndContainer > button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.menuItemsContainer > button:hover::after, .menuEndContainer > button:hover::after {
  width: 100%;
}

.gallery-container {
  width: 100%;
  height: 25vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  cursor: pointer;
  scrollbar-width: none;
}

.gallery-container::-webkit-scrollbar {
  display: none;
}

.gallery-container.active {
  cursor: grabbing;
}

.gallery-item {
  min-width: 25%;
  aspect-ratio: 1/1;
  user-select: none;
  /* pointer-events: none; */
}

@media screen and (max-width: 1000px) {
  .gallery-container {
    min-height: 33.33vw;
  }

  .gallery-item {
    min-width: 33.33%;
  }
}

@media screen and (max-width: 700px) {
  .gallery-container {
    min-height: 50vw;
  }

  .gallery-item {
    min-width: 50%;
  }
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: clamp(6px, .8vw, 12px);
  border-radius: 12px;
  text-align: center;
}

.modal-image {
  max-width: calc(100vw - 180px);
  max-height: 80vh;
  margin-bottom: -4px;
  border-radius: 8px;
}

.modal-close,
.modal-prev,
.modal-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.modal-close {
  top: 10px;
  right: 10px;
  transform: none;
}

.modal-prev {
  left: 10px;
}

.modal-next {
  right: 10px;
}

.modal-overlay > button {
  margin: 0;
  padding: 6px;
  width: 44px;
  height: 44px;
  transition: all 0.15s ease;
}

.modal-overlay > button:hover {
  background: rgba(0, 0, 0, 0.4);
}

.modal-overlay > button:active {
  background: transparent;
}

.menuTopMobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuTopMobile button {
  margin: 0;
}

.menuTopMobile #menuButton {
  color: white;
}

.menuLogoButtonMobile {
  margin: 0;
}

.expand-button > svg {
  filter: drop-shadow(2px 4px 6px black);
  margin-top: 5px;
  font-size: 24px;
  transform: translateY(2px);
}

.menuEndContainerMobile {
  align-content: center;
  display: grid;
}

.menuEndContainerMobile button {
  font-size: 1rem;
  padding: 3px 12px;
  background-color: transparent;
  color: white;
  border-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.insideMenuTopMobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 36px 0;
  padding: 0 36px
}

.insideMenuTopMobile button {
  margin: 0;
}

.insideMenuTopMobile .expand-button {
  padding-left: 0;
}

.insideMenuTopMobile .linkButton {
  color: #E6DED1;
  border-color: #E6DED1;
}

.insideMenuTopMobile .linkButton:hover {
  color: #243d30;
  border-color: #243d30;
  background-color: #E6DED1;
}

@media (max-width: 768px) {
#pageTitle{
  font-size: 2.5em;
}

#pageText{
width: 75vw;
font-size: 0.8em;
}

#pageOneImg{
  width: 75vw;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
}

#sections{
  margin-right: 0vw;
  width: 20vw;

  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

#sections div{
  font-size: 0.7em;
  margin-right: 5vw;
}

#pageLine{
  width: 78vw;
}

#pageVideo{
  width: 75vw;
  margin-left: 12.5vw;
}

#pageOneImg{
  width: 75vw;
  margin-left: 12.5vw;
}

} 