@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

p {
  font-family: "Source Serif 4", serif;
  letter-spacing: 2px;
  margin: 0px;
  color: #29160f;
}

li {
  font-family: "Source Serif 4", serif;
  letter-spacing: 2px;
  margin: 0px;
  color: #29160f;
}

/* header */
#HeadLogo {
  width: 80%;
  height: auto;
  max-width: 300px;
}

#Header {
  min-height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#Title1 {
  color: #e2d9c6;
  font-size: clamp(40px, 4vw, 60px);
  font-weight: 500;
  height: clamp(10px, 1vw, 180px);
}

#TItle2 {
  color: #e2d9c6;
  font-size: clamp(100px, 15vw, 150px);
  font-weight: 600;
  height: clamp(120px, 20vw, 180px);
}

#Title3 {
  color: #e2d9c6;
  font-size: clamp(15px, 2.4vw, 80px);
  font-weight: 400;
  min-height: 10px;
}

#Titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

#moreButton {
  font-family: "Source Serif 4", serif;
  letter-spacing: 2px;
  background-color: #e2d9c6;
  border: none;
  color: #2e1a11;
  padding: 5px 30px;
  border-radius: 108px;
  font-size: clamp(15px, 2.4vw, 40px);
}

#StickyMenu {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* socials */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#contactsSmall {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 23px;
}

#SocialsEmail {
  color: #1f1b1a;
  font-weight: 600;
}

#SocialsNumber {
  color: #1f1b1a;
}

#FacebookSVG {
  width: 40px;
}

#InstagramSVG {
  width: 40px;
}

#TikTokSVG {
  width: 40px;
}

/* three */
.threeLinkText {
  text-decoration: none;
  color: inherit;
}

.threeTexts {
  text-align: center;
  color: white;
  font-size: clamp(20px, 5vw, 70px);
}

.threeImages {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 200px;
}

#TwoImagesOnTopOfEachOther {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
}

#OneImageNextToTwoAlignment {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#OneImageNextToTheTwo {
  width: 50%;
}

#OneImageNextToTwoTheImage {
  height: 400px;
}

@media (min-width: 1200px) {
  .threeImages {
    height: 350px !important;
  }
  #OneImageNextToTwoTheImage {
    height: 700px !important;
  }
}

/* steps */
#WantToRide {
  width: 100vw;
  color: #4a3931;
  font-size: 8vw;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}

#WantToRide::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 15vw;
  height: 2px;
  background-color: black;
}

.alignCenter {
  display: flex;
}

#Foundation {
  width: 70%;
  min-height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  #Foundation {
    width: 95%;
    min-height: 65vw;
  }
}

#alignFoundationCenter {
  display: flex;
  justify-content: center;
}

#FoundationText {
  color: white;
  z-index: 1;
  flex-grow: 1;
  font-weight: 900;
  font-size: 5.5vw;
  margin: 2.5vw;
}

#AboutFoundationButon {
  font-family: "Source Serif 4", serif;
  letter-spacing: 2px;
  background-color: #e2d9c6;
  border: none;
  color: #2e1a11;
  padding: 5px 30px;
  border-radius: 108px;
  font-size: clamp(15px, 2.4vw, 40px);
}

#TypeseOfRiding {
  width: 70%;
  min-height: 39vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  #TypeseOfRiding {
    width: 95%;
  }
}

#ThreeStyles {
  display: flex;
  justify-content: space-around;
}

.RidingStyle {
  background-color: #29160f;
  border-radius: 20px;
  padding: 2vw;
  margin: 1vw;
  margin-bottom: 10vw;
}

.stylesImage {
  width: 100%;
  margin-bottom: 20px;
}

.stylesName {
  color: #e4d9c7;
  font-weight: 900;
  font-size: 2.2vw;
  margin-bottom: 20px;
}

.stylesLink {
  text-decoration: none;
  color: inherit;
}

.stylesContent {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 15vw;
  min-width: 0vw;
}

@media (max-width: 1000px) {
  .stylesContent {
    width: 18vw;
    min-width: 23vw;
  }
}

/* achievements */
#Achievements {
  width: 100%;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#AchievementsImage {
  width: 70%;
  min-height: 39vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1000px) {
  #AchievementsImage {
    width: 95%;
  }
}

#AboutAchievementsButon {
  font-family: "Source Serif 4", serif;
  letter-spacing: 2px;
  background-color: #e2d9c6;
  border: none;
  color: #2e1a11;
  padding: 5px 30px;
  border-radius: 108px;
  font-size: clamp(15px, 2.4vw, 40px);
  height: 4vw;
  min-height: 40px;
  margin-bottom: 20px;
}

#OurAchievementsTitle {
  font-size: 3vw;
}

#OurAchievementsText {
  font-size: 2vw;
  max-width: 50%;
}

@media (max-width: 1000px) {
  #OurAchievementsTitle {
    font-size: 7vw;
  }
  #OurAchievementsText {
    font-size: 3.5vw;
    max-width: 80%;
  }
}

#AchievementsCutDown {
  position: relative;
  bottom: 4.5vw;
}

#broqnBackgroundUnderAchievementsCut {
  height: 0.5vw;
}

#broqnBackgroundUnderAchievementsCutBig {
  height: 0.5vw;
}

#AchievementsCutDownBig {
  position: relative;
  bottom: 2.5vw;
}

.hat {
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .hat {
    width: 50vw;
  }
}
