@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

p {
  /* font-family: "Source Serif 4", serif; */
  font-family: 'VinnytsiaSerif', serif;
  letter-spacing: 2px;
  margin: 0px;
  color: #29160f;
}

li {
  /* font-family: "Source Serif 4", serif; */
  font-family: 'VinnytsiaSerif', serif;
  letter-spacing: 2px;
  margin: 0px;
  color: #29160f;
}

/* header */
#HeadLogo {
  width: 80%;
  height: auto;
  max-width: 300px;
  margin-top: 50px;
}

#Header {
  height: 100dvh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#HeaderVideo {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#Title1 {
  color: #e2d9c6;
  font-size: clamp(30px, 3vw, 45px);
  font-weight: bold;
  text-shadow: 0px 5px 10px rgb(0, 0, 0);
  margin-bottom: 12px;
  /* height: clamp(100px, 10vw, 1800px); */
}

#TItle2 {
  color: #e2d9c6;
  font-size: clamp(25px, 2.5vw, 40px);
  font-weight: 600;
  text-shadow: 0px 5px 8px rgb(0, 0, 0);
  margin-bottom: 16dvh;
  /* height: clamp(60px, 10vw, 80px); */
}

#Title3 {
  color: #e2d9c6;
  font-size: clamp(15px, 2.4vw, 80px);
  font-weight: 400;
  min-height: 10px;
}

#Titles {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  justify-content: end;
  margin-left: 10%;
}

#moreButton {
  /* font-family: "Source Serif 4", serif; */
  font-family: 'VinnytsiaSerif', serif;
  letter-spacing: 2px;
  background-color: #e2d9c6;
  border: none;
  color: #2e1a11;
  padding: 5px 30px;
  border-radius: 108px;
  font-size: clamp(15px, 2.4vw, 40px);
}

/* socials */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #29160f;
}

#contactsSmall {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  font-size: 23px;
  overflow: hidden;
}

#SocialsEmail {
  color: #1f1b1a;
  font-weight: 600;
}

#SocialsEmail, #SocialsNumber {
  overflow: hidden;
  word-wrap: break-word;
}

#SocialsNumber {
  color: #1f1b1a;
}

#FacebookSVG {
  width: 40px;
}

#InstagramSVG {
  width: 40px;
}

#TikTokSVG {
  width: 40px;
}

#forUs {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1280px;
  margin: 120px auto;
  margin-bottom: 200px;
  align-items: center;
}

#forUsImage {
  width: 50%;
  position: relative;
  transform: translateY(-50%);
}

#forUsImage img:first-child {
  position: absolute;
  width: 80%;
  top: 0;
  left: 0;
  transform: translateY(-55%);
}

#forUsImage img:last-child {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  transform: translateY(-45%);
}

#forUsTitle {
  font-size: 42px;
  margin-bottom: 12px;
}

#forUsText {
  width: 50%;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}

#forUsNormalText {
  font-size: 18px;
  width: 70%;
}

@media screen and (max-width: 1350px) {
  #forUsNormalText {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  #forUs {
    height: fit-content;
    margin: 92px auto;
  }

  #forUsImage {
    width: 50%;
    height: 100%;
    transform: none;
  }

  #forUsImage img:first-child {
    display: none;
  }

  #forUsImage img:last-child {
    position: static;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transform: none;
  }

  #forUsText {
    height: auto;
  }
}

/* three */
.threeLinkText {
  text-decoration: none;
  color: inherit;
  /* overflow: hidden; */
}

.threeTexts {
  text-align: center;
  color: white;
  font-size: clamp(15px, 4vw, 50px);
}

.threeImages {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 300px;
}

#threeImagesSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 72px auto;
}

#threeImagesSection a {
  width: 24%;
  max-width: 300px;
}

#threeImagesSection > a > div {
  width: 100%;
  aspect-ratio: 400/480;
  /* overflow: hidden; */
  position: relative;
}

.rightTopBorder {
  position: absolute;
  background-color: #9FACA5;
  top: 0;
  right: 0;
  width: 70%;
  height: 50%;
  transform: translate(10%, -12%);
  overflow: visible !important;
}

.leftBottomBorder {
  position: absolute;
  background-color: #243D30;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 50%;
  transform: translate(-10%, 12%);
  overflow: visible !important;
  z-index: -1;
}

.threeLinkImg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#threeImagesSection > a > div > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

#threeImagesSection > a > p {
  width: 100%;
  text-align: center;
  font-family: 'Forum', serif;
  font-size: clamp(15px, 2.4vw, 40px);
  padding-top: clamp(15px, 2.4vw, 40px);
  letter-spacing: 1px;
}

#threeImagesSection > a:nth-child(2) {
  transform: translateY(15%);
}

#threeImagesSection > a:hover > div > div > img {
  filter: brightness(0.8);
  transform: scale(1.1);
}

#TwoImagesOnTopOfEachOther {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  overflow: hidden;
}

#OneImageNextToTwoAlignment {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
}

#OneImageNextToTheTwo {
  width: 50%;
}

.threeImages {
  transition: all 0.3s ease-in-out;
}

.threeImages:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

#OneImageNextToTwoTheImage {
  height: 600px;
}

@media (min-width: 1200px) {
  .threeImages {
    height: 450px !important;
  }
  #OneImageNextToTwoTheImage {
    height: 900px !important;
  }
}

/* steps */
#WantToRide {
  width: 100vw;
  color: #4a3931;
  font-size: 8vw;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}

#WantToRide::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 15vw;
  height: 2px;
  background-color: black;
}

.alignCenter {
  display: flex;
}

#fourSections {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  background-color: #ccb7a5;
}

#fourSectionsObject {
  width: 100%;
  height: 535px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* @media screen and (max-width: 2200px) {
  #fourSectionsObject {
    height: 600px;
  }  
} */

#fourSectionsText, #foundationImage {
  width: 50%;
  height: 100%;
}

#fourSectionsText {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#foundationImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#foundationTitle {
  font-size: 36px;
  width: 85%;
  margin: 12px auto;
  margin-top: 48px;
  padding: 12px 0px;
  font-weight: bold;
  font-family: "Forum", serif;
  /* border-bottom: 2px solid #29160f; */
}

#foundationNormalText {
  width: 85%;
  margin: 16px auto;
}

.foundationLink {
  margin-left: 7.5%;
  flex-grow: 1;
  align-content: center;
}

.foundationLink > a {
  padding: 6px 24px;
}

@media screen and (max-width: 1000px) {
  #fourSectionsObject {
    height: 300px;
  }

  #foundationTitle {
    margin-top: 12px;
  }

  /* #fourSectionsObject {
    flex-direction: column;
    height: auto;
    margin-top: 48px;
  }

  #fourSectionsObject:first-child {
    flex-direction: column-reverse;
  }

  #fourSectionsObject:last-child {
    margin-top: 24px;
  }

  #fourSectionsText {
    width: 100%;
  } */

  /* #foundationImage {
    width: auto;
    margin: 0 36px;
  }

  #foundationImage img {
    width: 100%;
  } */
}

@media screen and (max-width: 550px) {
  /* #foundationImage {
    width: 100%;
    margin: 0;
  } */
}

#Foundation {
  width: 70%;
  min-height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  #Foundation {
    width: 95%;
    min-height: 65vw;
  }
}

#alignFoundationCenter {
  display: flex;
  justify-content: center;
}

#FoundationText {
  color: white;
  z-index: 1;
  flex-grow: 1;
  font-weight: 900;
  font-size: 5.5vw;
  margin: 2.5vw;
}

#AboutFoundationButon {
  /* font-family: "Source Serif 4", serif; */
  font-family: 'VinnytsiaSerif', serif;
  letter-spacing: 2px;
  background-color: #e2d9c6;
  border: none;
  color: #2e1a11;
  padding: 5px 30px;
  border-radius: 108px;
  font-size: clamp(15px, 2.4vw, 40px);
}

#TypeseOfRiding {
  width: 70%;
  min-height: 39vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  #TypeseOfRiding {
    width: 95%;
  }
}

#ThreeStyles {
  display: flex;
  justify-content: space-around;
}

.RidingStyle {
  background-color: #29160f;
  border-radius: 20px;
  padding: 2vw;
  margin: 1vw;
  margin-bottom: 10vw;
}

.stylesImage {
  width: 100%;
  margin-bottom: 20px;
}

.stylesName {
  color: #e4d9c7;
  font-weight: 900;
  font-size: 2.2vw;
  margin-bottom: 20px;
}

.stylesLink {
  text-decoration: none;
  color: inherit;
}

.stylesContent {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 15vw;
  min-width: 0vw;
}

@media (max-width: 1000px) {
  .stylesContent {
    width: 18vw;
    min-width: 23vw;
  }
}

/* achievements */
#Achievements {
  width: 100%;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#AchievementsImage {
  width: 70%;
  min-height: 39vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1000px) {
  #AchievementsImage {
    width: 95%;
  }
}

#AboutAchievementsButon {
  /* font-family: "Source Serif 4", serif; */
  font-family: 'VinnytsiaSerif', serif;
  letter-spacing: 2px;
  background-color: #e2d9c6;
  border: none;
  color: #2e1a11;
  padding: 5px 30px;
  border-radius: 108px;
  font-size: clamp(15px, 2.4vw, 40px);
  height: 4vw;
  min-height: 40px;
  margin-bottom: 20px;
}

#OurAchievementsTitle {
  font-size: 3vw;
}

#OurAchievementsText {
  font-size: 2vw;
  max-width: 50%;
}

@media (max-width: 1000px) {
  #OurAchievementsTitle {
    font-size: 7vw;
  }
  #OurAchievementsText {
    font-size: 3.5vw;
    max-width: 80%;
  }
}

#AchievementsCutDown {
  position: relative;
  bottom: 4.5vw;
}

#broqnBackgroundUnderAchievementsCut {
  height: 0.5vw;
}

#broqnBackgroundUnderAchievementsCutBig {
  height: 0.5vw;
}

#AchievementsCutDownBig {
  position: relative;
  bottom: 2.5vw;
}

.hat {
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .hat {
    width: 50vw;
  }
}

.centerTitle {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 72px;
  padding: 0 24px;
  text-align: center;
  font-size: 42px;
  border-bottom: 2px solid #29160f;
  font-family: "Forum", serif;
  /* font-weight: bold; */
}

#servicesTitle {
  margin-top: 124px;
}

#servicesObjects {
  width: 80%;
  max-width: 1536px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.servicesObject {
  width: 28%;
  min-width: 400px;
  margin: 0 1%;
  margin-bottom: 120px;
}

.servicesObject img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.serviceTitle {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Forum", serif;
  font-weight: bold;
}

.serviceDescription {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.servicesObject a {
  margin: 0 auto;
  margin-top: 24px;
  padding: 6px 24px;
}

@media screen and (max-width: 1080px) {
  .servicesObject {
    width: 70%;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .serviceDescription {
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  .serviceDescription {
    width: 100%;
  }
}

/* album like photoes */
.albumPhoto {
  position: relative;
  z-index: 100;
  border: solid 0.2vw, white;
  box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.75);
}

#Girl {
  top: -50vw;
  width: 20vw;
  left: 8vw;
  transform: rotate(-8deg);
}

#Jumping {
  top: -28vw;
  width: 26vw;
  left: 48vw;
  transform: rotate(4deg);
}