
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'VelaSans';
    src: url('./components/font/VelaSans-GX.ttf') format('truetype');
}

#StickyMenu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #2e1a11; */
    background-color: transparent;
}


  
.menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    overflow-y: auto;
    background: #243d30;
    color: #E6DED1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* padding: 10px; */
    z-index: 1000;
}

#menuButton, .file-button {
    background-color: transparent;
    border: none;
    color: inherit;
}
  
.directory {
    margin-bottom: 10px;
    font-family: 'Forum', serif;
}
  
.directory-name-mobile {
    font-family: inherit;
    font-size: 24px;
    cursor: pointer;
    color: white;
    letter-spacing: 0;
    padding-left: 12px;
    border-radius: 30px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 2px;
}
  
.page-list-mobile {
    margin: 5px 0 10px 15px;
    list-style: none;
    z-index: 1000;
}

.page-list-mobile li {
    margin: 12px 0;
}

.page-list-mobile li:first-child {
    margin-top: 6px;
}

.page-list-mobile a {
    text-decoration: none;
    color: white;
    letter-spacing: 0;
    font-size: 22px;
}

.directory, .file-button {
    padding-left: 36px;
    margin-bottom: 24px;
    margin-top: 24px;
    font-weight: normal;
}

.page-list-mobile {
    padding-left: 36px;
    margin-left: 0;
}

.page-list-mobile a {
    font-size: 24px;
    font-family: 'Forum', serif;
}

#subDirectoryMobile p {
    padding-left: 0;
    margin-bottom: 12px;
}

#subDirectoryMobile > ul {
    margin-bottom: 24px;
}

#subDirectoryMobile > ul > li {
    list-style-type: none;
}
  
.file-button {
    display: block;
    font-family: 'Forum', serif;
    color: white;
    letter-spacing: normal;
}

.file-button:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.directory > p {
    padding-left: 0;
}

#menuButton, Menu button {
    font-size: 22px;
    /* margin: 4px 0; */
}

#productVoucher {
    width: 300px;
    text-align: center;
    border: 1px solid #c7c1b9;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f0e8de
}

#itemButton {
    background-color: #876254;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#itemButton:hover {
    background-color: #29160F;
    border-color: transparent;
}

.directory-menu {
    position: relative;
    display: inline-block;
}


.directory-name {
    cursor: pointer;
    font-family: inherit;
    color: #e5d5c0;
    font-size: 16px;
    /* letter-spacing: 1px; */
    margin: 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.directory-menu > p > svg, .directory-name-mobile > svg {
    display: inline;
    font-size: 12px !important;
    width: 12px !important;
    margin-left: 12px;
    stroke: currentColor;
    stroke-width: 3px;
    fill: transparent;
    padding-top: 3px;
    transition: all 0.15s ease-in-out;
}

.page-list {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-shadow: none;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.page-list li {
    padding: 8px 16px;
}
  
.page-list li a {
    text-decoration: none;
    color: black;
}
  
.page-list li a:hover {
    /* background-color: #ddd; */
}
  
.directory-menu:hover .page-list {
    display: block;
}

.subPage-list {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    list-style-type: none;
    padding: 0;
    margin: 0;
    left: 100%;
    top: 0;
}

#subDirectory {
    position: relative;
}

#subDirectory:hover .subPage-list {
    display: block;
}

.subDirectory-name  {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.subDirectory-name::after {
    display: inline;
    content: "▶";
    font-family: inherit;
    font-size: 12px;
    margin-left: 2px;
    width: fit-content;
    height: fit-content;
    padding-bottom: 3px;
}

.Menu {
    background-color: transparent;
    padding: 0px 0;
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center; /* Center items vertically */
    font-family: 'Forum', serif;
    font-size: 16px;
    color: #e5d5c0;
    /* letter-spacing: 2px; */
    transform: all 0.3s ease;
    height: 100px;
}

#menuButton {
    font-family: 'Forum', serif;
}

.menuLogoContainer {
    transform: all 0.3s ease;
    display: flex;
    align-items: center;
}

.Menu.solid {
    transform: all 0.3s ease;
    background-color: #2e1a11;
}

.Menu button {
    background: none;
    border: none;
    color: inherit;
    font-size: 22px;
    font-family: inherit;
    cursor: pointer;
    padding: 0 2px;
    margin: 0;
    transition: none;
}

.Menu button:hover {
    border: none;
    background: none;
}

/* .Menu button + button::before,
.Menu button + .directory-menu p::before,
.Menu .directory-menu p + button::before,
.Menu .directory-menu + button::before,
.directory-menu + .directory-menu p::before {
    content: "•";
    padding-right: 10px;
    padding-left: 10px;
} */

#subDirectory {
    padding: 8px 16px;
    padding-right: 0;
}

#menuSubButton {
    cursor: pointer;
}

.subPage-list {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.line {
    width: 74%;
    height: 0.3vh;
    background-color: #29160F;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.one_image {
    width: 250px;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Flexbox container for two images */
.two_images {
    display: flex;
    flex-wrap: wrap;  /* Ensures that images move to the next line if there isn't enough space */
    gap: 10px; /* Optional: Adds space between the images */
    justify-content: center; 
    /* Centers the images horizontally */
    border-radius: 30px !important ;  /* Rounded corners (optional) */
}

.two_images img {
    width: 250px;
    height: fit-content;
    border-radius: 30px !important   /* Rounded corners (optional) */
}

/* Flexbox container for four images */
.four_images {
    display: flex;
    flex-wrap: wrap;  /* Ensures that images move to the next line if there isn't enough space */
    gap: 10px; /* Optional: Adds space between the images */
    justify-content: center; /* Centers the images horizontally */
}

.four_images img {
    width: 250px;
    height: fit-content; /* Keeps the aspect ratio */
}

.ql-align-center {
    text-align: center;
    /* font-family: Source Serif Pro; */

}

.ql-align-right {
    text-align: end;
    /* font-family: Source Serif Pro; */

}


body{
    background-color: #f2f1ec;
    font-family: Source Serif Pro;
}

button{
    font-family: Source Serif Pro;
    color: #29160F;
    font-weight: 600;
    background-color:#fefefe;
    border: 4px solid #fefefe;
    border-radius: 30px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 2px;
    transition: 0.4s;
    font-size: 24px;
    margin-right: 12px;
    margin-top: 24px;
}

button:hover{
    background-color: #29160F; /* New background color on hover */
    color: #fefefe;            /* New text color on hover */
    border-color: #29160F
}

.Setting_buttons{
    margin-top: 20px;

}

#title{
    font-family: Source Serif Pro;

    margin-left: 10%;
    color: #29160F;
    font-size: 6vh;
    margin-top: 68px;
    margin-bottom: 10px;
}





#Page_Title{
    /* margin-top: 8px; */
    font-style: Source Serif Pro ;
    color: #29160F;
    margin-left: 13vw;
    margin-bottom: 6px;
    font-weight: 500;
    background-color:#fefefe;
    border: 0.3vh solid #fefefe;
    border-radius: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transition: 0.4s;
    font-size: 3vh;
}

#Page_Title:hover{
    border: 0.3vh solid #29160F;
}


#Path_Input{
    /* margin-top: 8px; */
    color: #29160F;
    margin-left: 13vw;
    margin-bottom: 6px;
    font-weight: 500;
    background-color:#fefefe;
    border: 0.3vh solid #fefefe;
    border-radius: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transition: 0.4s;
    font-size: 3vh;
}

#Path_Input:hover{
    border: 0.3vh solid #29160F;

}


.Add_buttons{
    margin-top: 5vh;
    margin-left: 13vw;
    width: 74vw;

    justify-content: space-between;
}

#Save_button{
    margin-top: 5vh;
    margin-left: 13vw;
}

#Delete_button{
    margin-top: 0;
    margin-bottom: 0;
}

#Added_Title{
    /* margin-left: 13vw; */
    font-size: 3.3vh;
    margin-bottom: 2vh;
    margin-top: 0;
    font-style: bold;
    font-size: 3.5vh;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid #29160F;
    background-color: #87625469;
    padding: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#Added_Title:focus {
    border: none;
}

#Added_Text{
    /* margin-left: 13vw; */
    /* width: 100%; */
    margin-bottom: 2vh;
    margin-top: 0;
    font-size: 2vh;
    font-style: italic;
    border-bottom: 2px solid #29160F;
}

#Added_Text:focus {
    border: none;
}

#Added_Video{
    /* margin-left: 13vw; */

    margin-top: 0;
}

#Added_Video_vid{
    width: 30vw;
}


#Added_Html{
    /* margin-left: 13vw; */
    /* width: 74vw; */
    margin-bottom: 2vh;
    margin-top: 0;
    font-size: 2vh;
}

input[type="file"]{
    color: #29160F;
    font-weight: 500;
    background-color:#fefefe;
    border: 0.25vh solid #fefefe;
    border-radius: 1vh;
    padding-left: 0.7vw;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    transition: 0.4s;
    font-size: 1.3vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

input[type="file"]:hover{
    border: 0.25vh solid #29160F;
}

#Added_menu_select{
    color: #29160F;
    font-weight: 600;
    background-color:#fefefe;
    border: 0.25vh solid #fefefe;
    border-radius: 1vh;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    transition: 0.4s;
    font-size: 1.3vh;
    margin-left: 1vw;
    margin-bottom: 2vh;
}

#Added_menu_select:hover{
    border: 0.25vh solid #29160F;
}

#Added_One_Image{
    /* margin-left: 13vw; */
    width: 74vw;
}

#Added_One_Image_img{
width: 20vw;
display: block;
}

#Added_Two_Images_img_one{
    width: 20vw;
}

#Added_Two_Images_img_two{
    width: 20vw;
    margin-left: 5vw;
}

#Added_Two_Images_file_two{
margin-left: 11.3vw;
}

#Added_Four_Images_img_one{
    width: 20vw;
    
}

#Added_Four_Images_img_two{
    width: 20vw;   
    margin-left: 3vw; 
}

#Added_Four_Images_img_three{
    margin-top: 1vw;
    width: 20vw;    
    margin-left: 0vw;
}

#Added_Four_Images_img_four{
    width: 20vw;    
    margin-left: 3vw;
}

#Added_Four_Images_file_two{
    margin-left: 2vw;
}

#Added_Four_Images_file_three{
    margin-left: 2vw;
}

#Added_Four_Images_file_four{
    margin-left: 2vw;
}

#Added_Formated{
    /* margin-left: 13vw; */
    /* width: 74vw; */
    color:#293241;
    background-color: #fefefe;
    border-radius: 2vh;
    margin-bottom: 2vh;
    border: 0.3vh solid #fefefe; 
    transition: border 0.4s; 
}

#Added_Formated:focus-within {
    border-color: #3d5a80; 
}

#Added_Formated > .quill {
    max-height: 50vh;
    overflow-y: auto;
    margin-bottom: 2vh;
}

.options > button > svg {
    transform: translateY(3px);
}

#Save_button > svg, #Preview_button > svg, #home_button > svg, #adminNav > button > svg, .adminRename > svg, .adminEdit > svg, .adminDelete > svg, .adminArrow > svg {
    transform: translateY(3px);
}

#Save_button, #Preview_button, #home_button, #adminNav > button, .adminRename, .adminEdit, .adminDelete, .adminArrow {
    cursor: pointer;
}

.structureNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all .1s ease;
    border-radius: 16px;
    min-height: 51px;
}

.structureNav:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.structureNav > div:first-child {
    align-content: center;
}

.structureNav > div:last-child {
    display: none;
}

.structureNav:hover > div:last-child {
    display: block;
}

#Delete_button:hover, .adminDelete:hover {
    background-color: red;
    border-color: red;
}

.ql-container {
    border: none !important; 
    outline: none;  

}


.ql-editor {
    border: none;
    outline: none; 
    font-family: Source Serif Pro; 
    font-size: 2vh; 
    color: #293241; 
    font-weight: 400;

}

/* Optional: Remove focus outline when clicking inside the editor */
.ql-editor:focus {
    border: none;
    outline: none !important;  /* Remove default outline */
}

/* Apply border-radius to the toolbar as well */
.ql-toolbar {
    border: none;  /* Remove any border around toolbar */
    outline:none;
}

.ql-toolbar.ql-snow {
border:none;
}

.ql-toolbar button {
    margin: 0;
    padding: 0;
}

#Added_YouTube iframe {

    width: 40vw;
    height: auto;
    aspect-ratio: 16 / 9;
  
  }


#Added_YouTube_link{
    font-family: Source Serif Pro;
    color: #3d5a80;
    font-weight: 500;
    background-color:#fefefe;
    border: 0.25vh solid #fefefe;
    border-radius: 1vh;
    padding-left: 0.7vw;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    transition: 0.4s;
    font-size: 1.3vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#Added_YouTube_link:hover{
    border: 0.25vh solid #3d5a80;
}














@media (max-width: 768px) {
    #Added_Two_Images_file_two{
        margin-top: -1vh;
        margin-left: 0;
    }

    #Added_One_Image_img{
        width: 74vw;
    }

    #Added_Two_Images_img_one{
        width: 35vw;
        border-radius: 50px;
    }
    
    #Added_Two_Images_img_two{
        width: 35vw; 
        margin-left: 2vw;
        border-radius: 100px;
    }

    #Added_Four_Images_img_one{
        width: 35vw;
        
    }
    
    #Added_Four_Images_img_two{
        width: 35vw;   
        margin-left: 4vw;
    }
    
    #Added_Four_Images_img_three{
        width: 35vw;    
        margin-left: 0;
    }
    
    #Added_Four_Images_img_four{
        width: 35vw;    
        margin-left: 4vw;
    }

    #Added_Four_Images_file_two{
        margin-left: 0vw;
    }
    
    #Added_Four_Images_file_three{
        margin-left: 0vw;
    }
    
    #Added_Four_Images_file_four{
        margin-left: 0vw;
    }
    
    #Added_YouTube iframe {

        width: 74vw;

      
      }
    
}

#Added_Slideshow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    margin-left: 10%;
}

    
.donation {
    background-color: #2e1a11;
    color: #e2d9c6;
    width: 300px;
    border-radius: 24px;
    padding: 12px;
    margin-left: 10%;
}

.donation h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px;
}

.donation h3 {
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

.donation h4 {
    font-size: 16px;
    margin: 0;
    padding: 10px;
    color: #876254;
}

.donationSeperation {
    height: 1px;
    width: 80%;
    margin: 12px auto;
    background-color: #876254;
}

.ql-font-arial {
    font-family: Arial, sans-serif;
}
.ql-font-times-new-roman {
    font-family: 'Times New Roman', serif;
}
.ql-font-courier-new {
    font-family: 'Courier New', monospace;
}
.ql-font-verdana {
    font-family: Verdana, sans-serif;
}
.ql-font-georgia {
    font-family: Georgia, serif;
}
.ql-font-trebuchet-ms {
    font-family: 'Trebuchet MS', sans-serif;
}
.ql-font-comic-sans-ms {
    font-family: 'Comic Sans MS', cursive;
}
.ql-font-impact {
    font-family: Impact, sans-serif;
}

#create{
    margin-left: 2vw;
}

#PageStructure{
    margin-left: 2vw;
}

.labelTitles {
    margin-left: 13vw;
    font-size: 18px;
}

.elements {
    padding-bottom: 18px;
}

.element {
    background-color: #87625469;
    margin: auto;
    margin-bottom: 16px;
    padding: 12px;
    width: 80%;
}

.element:first-child {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.element:last-child {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.options {
    display: flex;
    justify-content: flex-end;
}

.labelElement {
    font-size: 32px;
    display: block;
}

.labelElementSmall {
    font-size: 24px;
}

.contentEditable {
    border-bottom: 2px solid #29160F;
    background-color: #87625469;
    padding: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.contentEditable:focus {
    border: none;
}

.normalText {
    font-family: "VelaSans", serif;
}

.twoObjects {
    display: flex;
}

.twoObjects > div {
    width: 50%;
}

#voucherForm {
    margin-left: 15vw;

}

#voucherForm > form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 500px;
    margin: 0 auto;
}

#voucherForm > form > label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#voucherTypeForm {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#voucherTypeForm > label, #voucherTypeForm > img {
    width: calc(50% - 6px);
}
git pull --no-rebase
#voucherTypeForm > label > select {
    cursor: pointer;
    padding: 12px;
}

@media screen and (max-width: 585px) {
    #voucherTypeForm {
        flex-direction: column-reverse;
    }

    #voucherTypeForm > img {
        width: 100%;
    }
}

#voucherForm select {
    flex-grow: 1;
}

#voucherForm label[for="voucherType"] {
    width: 100%;
}

#voucherType {
    width: 100%;
}

#voucherForm label {
    max-width: 100%;
    width: fit-content;
}

#voucherForm > form > label > input, #voucherForm > form > label > textarea, #voucherType {
    /* height: 30px; */
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid rgba(27, 27, 27, 0.3);
    background-color: rgba(217, 217, 217, 0.38);
}

#voucherForm > form > label > input:focus, #voucherForm > form > label > textarea:focus, #voucherType:focus {
    border: 1px solid rgba(27, 27, 27, 0.3);
    outline: none;
}

#voucherForm > form > label > textarea {
    border-radius: 12px;
    height: 72px;
    resize: none;
    padding: 12px;
    font-family: arial;
    font-size: 16px;
}

#voucherForm label[for="note"] {
    width: 100%;
}

#voucherFormSubmit {
    width: 100%;
    margin-top: 24px;
}

#voucherFormSubmit > input {
    margin: 0 auto;
    padding: 6px 24px;
}

#voucherFormSubmit > .linkButton {
    background-color: transparent;
}

#voucherFormSubmit > .linkButton:hover {
    background-color: black;
}

.cart {
    position: fixed;
    top: 82px;
    right: 12px;
    z-index: 10000;
}

.cartIcon {
    width: 30px;
    height: 30px;
    padding: 12px;
    background-color: #876254;
    color: white;
    border-radius: 30px;
    overflow: visible;
}

.cartMenu {
    background-color: #876254ab;
    backdrop-filter: blur(3px);
    padding: 18px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 80%;
    max-height: 60vh !important;
}

.cartContent {
    overflow-y: auto;
}

.cartItem img {
    width: 30%;
}

.cartMenu button {
    margin: 0;
}

.closeBtn {
    background-color: transparent;
    border: none;
    height: 36px;
    padding: 6px;
    margin-left: auto !important;
    transform: translate(6px, -6px);
}

.total {
    margin-top: 12px !important;
    margin-bottom: 6px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

.total > :last-child {
    font-weight: bold;
}

.cursorPointer {
    cursor: pointer;
}

.description {
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    line-height: 36px;
}

button[name="descriptionBg"], button[name="descriptionEn"] {
    margin: 0;
    padding: 6px;
    margin-left: 12px;
}

button[name="descriptionBg"] > svg, button[name="descriptionEn"] > svg {
    height: 18px;
    width: 18px;
    transform: translate(-3px, -5px);
}

.description-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.322);
}

.description-editor {
    position: fixed;
    inset: 0px;
    width: 70%;
    height: fit-content;
    /* height: 70%; */
    max-height: 70%;
    margin: auto;
    padding-bottom: 24px;
    background-color: #fefefe;
    border-radius: 24px;
}

.description-editor > div:last-child {
    max-height: calc(70dvh - 40px);
    overflow-y: auto;
    padding-left: 9px;
}

.description-close {
    position: absolute;
    top: 12px;
    right: 12px;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 6px;
    margin: 6px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.description-close:hover {
    background-color: #00000073;
}

.linkButton {
    display: block;
    width: fit-content;
    padding: 12px 16px;
    margin: 6px 0px;
    border: 1px solid black;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
}

.linkButton:hover {
    border-color: transparent;
    background-color: black;
    color: white;
}


  
  